# Server
PORT=3000
HOST=0.0.0.0

# Firebase
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json

# TOTP (one time password)
# Số bước thời gian cho phép lệch với 1 = 30s
TOTP_WINDOW=1

# Chu kỳ đổi mã OTP
TOTP_STEP_SECONDS=30
